@import '../../styles/variables.scss';

.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 1000;
}

.card_center {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	z-index: 1001;
	min-width: 700px;
}

.popup {
	padding: 20px;
}

.close {
	position: absolute;
	right: 0;
	top: 0;
	width: 18px;
	height: 18px;
	color: $main-color;
	border-radius: 50%;
	border: $main-color 1px solid;
	text-align: center;
	cursor: pointer;
	transition: 0.3s all;

	&:hover {
		transform: scale(1.1);
	}
}

.inner {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
}

.temperature {
	font-size: 60px;
	color: $main-color;
}

.day {
	color: var(#{--text-color-default});
	font-size: 24px;
}

.time,
.city {
	color: $weak-color;
	font-size: 12px;
}

.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

@media (max-width: 768px) {
	.inner {
		flex-direction: column;
	}

	.card_center {
		min-width: 550px;
	}

	.wrapper {
		margin-bottom: 20px;
		flex-direction: row;
		align-items: center;

		&:last-of-type {
			margin-bottom: 0;
			flex-direction: column;
			align-items: flex-start;
		}
	}
}

@media (max-width: 576px) {
	.card_center {
		min-width: unset;
		width: 90%;
	}

	.close {
		width: 25px;
		height: 25px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.wrapper {
		margin-bottom: 20px;
		flex-direction: column;
		align-items: flex-start;
	}
}
